# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db

# Ambiente virtual
venv/
ENV/
env/
.venv/

# IDEs
.vscode/
.idea/

# Testes
.coverage
htmlcov/
.tox/
.pytest_cache/

# Logs
*.log

# Docker
*.pid
*.seed
*.bak

# Outros
.DS_Store
*.swp